body {
    max-width: 1000px;
    margin: auto;
    text-align: left;
}

main {
    max-width: 1000px;
}

main img {
    width: 100%;
}

main p {
    text-align: justify;
}

section {

    width: 100%;
    float: left;
}

section img {
    max-width: 100%;

}

section:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.soPequeno {
    display: block;
}

.soGrande,
.soMedio {
    display: none;
}